$key-size-sm: 36px;
$key-size-md: 56px;
$key-size-lg: 64px;

$key-size-sm-x15: $key-size-sm * 1.5;
$key-size-sm-x20: $key-size-sm * 2;

$key-size-md-x15: $key-size-md * 1.5;
$key-size-md-x20: $key-size-md * 2;

$key-size-lg-x15: $key-size-lg * 1.5;
$key-size-lg-x20: $key-size-lg * 2;
