$font-family: 'Noto Sans KR', sans-serif;
$font-family-secondary: 'permanent marker', cursive;

$font-size-16: 16px;
$line-height-16: 20px;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$line-height-18: 22px;
$letter-spacing-18: -0.02em;

$font-size-24: 24px;
$line-height-24: 28px;
$letter-spacing-24: 0.03em;

$font-size-36: 36px;
$line-height-36: 40px;
$letter-spacing-36: 0.05em;
