.function-15 {
  width: $key-size-sm-x15 + $key-margin-sm;

  @include responsive(T) {
    width: $key-size-md-x15 + $key-margin-md;
  }

  @include responsive(D) {
    width: $key-size-lg-x15 + $key-margin-md;
  }
}

.function-20 {
  width: $key-size-sm-x20 + $key-margin-sm * 2;

  @include responsive(T) {
    width: $key-size-md-x20 + $key-margin-md * 2;
  }

  @include responsive(D) {
    width: $key-size-lg-x20 + $key-margin-md * 2;
  }
}
