.guide {
  @include flexbox;
  @include text-style(18, $primary);
  height: 100vh;
  font-family: $font-family;
  text-align: center;

  &-portrait {
    @include animation-round;
  }

  p {
    margin-bottom: 8px;
    word-break: keep-all;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// NOTE: 세로모드
@media (orientation: portrait) {
  .guide {
    &-portrait {
      display: block;
    }
  }

  .key-group {
    display: none;
  }
}

// NOTE: 가로모드
@media (orientation: landscape) {
  .guide {
    height: auto;

    &-portrait {
      display: none;
    }
  }

  .key-group {
    @include flexbox;
  }
}
