.key-group {
  @include flexbox;
  height: 100vh;

  &-1st,
  &-2nd,
  &-3rd,
  &-4th,
  &-5th {
    @include flexbox;
  }

  .key {
    margin: 2px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .desc {
    display: none;

    &.is-active {
      @include pos-center-x;
      @include animation-slideIn(top);
      @include text-style(16, $dark);
      top: 0;
      display: block;
      padding: 10px 40px;
      font-family: 'UhBeeSeulvely';
      background-color: $background;
      border-radius: 0 0 8px 8px;
    }
  }

  @include responsive(T) {
    .key {
      margin: 4px;
    }

    .desc {
      &.is-active {
        @include text-style(18, $dark);
      }
    }
  }

  @include responsive(D) {
    .key-group-5th {
      .key {
        @include text-style(24, $dark);
      }
    }

    .desc {
      &.is-active {
        @include text-style(24, $dark);
        padding: 20px 60px;
      }
    }
  }
}
