.key-group {
  @include flexbox;
  height: 100vh;

  &-1st,
  &-2nd,
  &-3rd,
  &-4th,
  &-5th {
    @include flexbox;
  }

  .key {
    margin: 2px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include responsive(T) {
    .key {
      margin: 4px;
    }
  }

  @include responsive(D) {
    .key-group-5th {
      .key {
        @include text-style(24, $dark);
      }
    }
  }
}
