.key-group {
  &-1st,
  &-2nd,
  &-3rd,
  &-4th {
    @include flexbox;
  }

  .key {
    margin: 2px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include responsive(T) {
    .key {
      margin: 4px;
    }
  }
}
